body {
  background-color: #BDFC49;
  overflow-x: hidden;
  overflow-y: scroll;
  margin:0;
  padding:0;
  max-width: 100%;
   // min-width: 1140px;
}

.nav {
  display: flex;
  text-align: center;
  margin-right: 100px;
  left: 20;

  a img{
      animation: rotating 10s infinite;
  }
}

h1 {
  color: #010101;
  font-family: 'Kharkiv Tone';
  font-size: 8rem;
  margin-left: 2%;
  z-index: 10;
}

a {
  font-family: 'dity';
  font-size: 2rem;
  text-decoration: none;
  color: #010101;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 120px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.decoration {
  position: relative;

  top: -10px;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg)
  };
  100% {
    transform: rotate(180deg);
  };
}

@media screen and (max-width: 600px){
  h1{
    font-size: 2.5rem;
    margin-top: 50px;
  }

  .decoration{
    height: 100px;
    right: 5px;
    top: 5px;
  }

  .nav{
    display: flex;
    flex-wrap: wrap;
  }

  a{
    flex: 50%;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;

    img {
      margin-right: 10px;
    }
  }
}