.container {
  white-space: nowrap;
  display: flex;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.rectangle {
  z-index: 5;
  height: 250px;
  max-width: 100%;
  background-color: #F1F1F1;
  margin-left: 0px;
  transform: rotate(-4deg);
  border-top: 10px solid #010101;
  border-bottom: 10px solid #010101;
  margin-top: -150px;
  text-align: center;
  box-sizing: border-box;

  h2{
    font-size: 12rem;
    width: max-content;
    margin: 0;
    font-family: 'dity';
    clear: both;
    display: inline-block;
    white-space: nowrap;
  }
}

@media screen and (max-width: 600px) { 
  .container{
    display: flex;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  .rectangle {
    margin-top: 0px;
    height: 125px;

      h2 {
        font-size: 6rem;
      }
  }
  
}
