.rectangle2 {
  max-width: 100%;
  background-color: #010101;
  height: 100vh;
  z-index: -10;
  position: relative;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.container2 {
  display: flex;
  width: 100%;
  z-index: -1;
  position: relative;
}

.section-container {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}
