body {
  background-color: #BDFC49;
  overflow-x: hidden;
  overflow-y: scroll;
  margin:0;
  padding:0;
  max-width: 100%;
  scroll-behavior: smooth;

}

.nav {
  display: flex;
  text-align: center;
  margin-right: 100px;
  left: 20;

  a img{
      animation: rotating 10s infinite;
  }
}

h1 {
  color: #010101;
  font-family: 'Kharkiv Tone';
  font-size: 8rem;
  margin-left: 2%;
  margin-top: 15vh;
}

a {
  font-family: 'dity';
  font-size: 2rem;
  text-decoration: none;
  color: #010101;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 120px;
}

.head {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  height: 50vh;
}

.decoration {
  position: relative;
  right: -10vh;
  top: -20vh;
  height: 135%;
  z-index: -1;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg)
  };
  100% {
    transform: rotate(180deg);
  };
}

@media screen and (max-width: 798px){
  .head {
    height: 20vh;
  }

  h1{
    font-size: 2.5rem;
    margin-top: 8vh;
  }

  .decoration{
    right: 5px;
    top: -10vh;
  }

  .nav{
    display: flex;
    flex-wrap: wrap;
  }

  a{
    flex: 50%;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;

    img {
      margin-right: 10px;
    }
  }
}