.container3 {
  width: 100%;

  object-fit: cover;
  position: relative;
  background: no-repeat;
  background-size: cover; 
}

.slider {
  background-color: #010101;
  height: 500px;
  margin: 0px;
}

  .vid {
    width: 100%    !important;
    height: auto   !important;
  }